.btn {
  background: $yellow;
  padding: 5px 20px;
  border-radius: 12px;
  font-size: 14px;
  display: block;
  color: $text;
  height: auto;
  border: none;
  line-height: unset;
  box-shadow: 0 3px 0 #d8ab03;
  transition: 0.1s transform, 0.1s box-shadow;
  transform: none;
  &:hover {
    background: $yellow-hover;
    color: $text;
  }
  &:focus {
    border-bottom: none;
    color: $text;
    background: $yellow;
  }
  &:active {
    box-shadow: 0 0px 0 #d8ab03;
    transition-delay: 0, 0.2s;
    transform: translateY(3px);
  }
  &.lg {
    padding: 10px 20px;
  }
  &.center {
    margin: 0 auto;
  }
}
