@font-face {
  font-family: 'BB';
  src: url('../assets/fonts/MuseoSansCyrl_bold.woff') format('woff');
}
@font-face {
  font-family: 'BL';
  src: url('../assets/fonts/MuseoSansCyrl_light.woff') format('woff');
}

@font-face {
  font-family: 'BR';
  src: url('../assets/fonts/MuseoSansCyrl_regular.woff') format('woff');
}
