// @import './reset';
@import './fonts';
@import './vars';
@import './typography';
@import '~antd/dist/antd.css';
@import './components/index.scss';
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  height: auto;
}
body {
  font-family: BR;
  background-image: url(../assets/img/bg-bottom.png),
    url(../assets/img/bg-top.png);
  background-position: 0 100%, 100% 0;
  background-size: 50% auto, 50% auto;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 59px;
  height: auto;
}
#root {
  min-height: 100%;
}
.jungle {
  min-height: 100%;
  padding: 50px 0;
}
a {
  font-family: BR;
  color: $text;
  &:hover {
    color: $green;
  }
}

.row {
  max-width: 1240px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  &-md {
    max-width: 1140px;
  }
}

.box {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  border-radius: 12px;
}
