@import '../../styles/vars';
.word-sets-card {
  width: 100%;
  display: grid;
  grid-template-rows: 220px 1fr;
  overflow: hidden;
  &:hover {
    .word-sets-card__wrapper {
      opacity: 1;
    }
    img {
      height: 110%;
    }
  }
  img {
    position: absolute;
    height: 100%;
    left: 50%;
    transition: 0.3s;
    transform: translate3d(-50%, 0, 0);
    z-index: 1;
  }
  &__box {
    position: relative;
    overflow: hidden;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s;
    z-index: 3;
  }
  &__counter {
    padding: 4px 6px;
    background: rgba(0, 0, 0, 0.85);
    color: #b4b4b5;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    border-radius: 4px;
  }
  &__link {
    background: white;
    display: block;
    padding: 5px 10px;
    color: $text;
    font-family: BB;
    font-size: 14px;
    &.lg {
      font-size: 16px;
    }
  }
}
